<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Razorpay Payment</title>
</head>
<body>

<h2>Order Summary</h2>
<p>Amount: 500.00</p>
<button id="payButton">Pay Now</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
  "key": "rzp_test_1j2WgtDgY0EtKz",
  "amount": 1000, // Example amount (in paise), you should replace it with the actual amount
  "currency": "INR",
  "name": "Pankaj Sir Academy",
  "description": "Purchase Description",
  "image": "https://pankajsiracademy.in/assets/images/logo_white.png",
  "order_id": "order_NPaLx5m9mFUQRa",
  handler: function (response){
<!--    alert("Payment successful. Payment ID: " + response.razorpay_payment_id);-->
  console.log(response);
  },
  "prefill": {
    "name": "Customer Name",
    "email": "customer@example.com",
    "contact": "9876543210"
  },
  notes: {
    "address": "Customer Address"
  },
  theme: {
    color: "#3399cc"
  }
};

var rzp = new Razorpay(options);

document.getElementById('payButton').onclick = function(){
  rzp.open();
};
</script>
</body>
</html>
